

.right-section{
  flex: 0 0 50%; 
  display: flex; 
  flex-direction: row;
  background-color: #1e1f26;
  color: white;
  padding: 10px;
  box-sizing: border-box;
  border-left: 2px solid black;
  height:100vh;
  overflow-y: auto; /* allow scrolling if content overflows */
 
    
}

.SessionBox > * {
  background-color: rgb(24, 23, 23);
  margin: 5px;
  padding: 10px;
  border-radius: 3px;
  
  
}

.exerciseForm{
    display: flex;           
    flex-direction: row;    
    flex-wrap: nowrap;               
    align-items: center;
    gap: 4px; 
    margin-top: 5px;
    border-radius: 3px;
    


}

.formInput{
  border-radius: 3px;
  border: 2px solid rgba(105, 105, 105, 0.5); 
  background-color: #000; 
  color: #fff; 
  outline: none; 
  padding-top:6px;
  padding-bottom:6px;
 


}

.exerciseStack{
  min-height: 450px; 
  max-height: 450px; /* optional */
   /* allow it to grow with parent */
  overflow-y: scroll; 
  background-color: rgb(24, 23, 23);
  border-radius: 3px;
  padding-bottom: 0px;
  margin-bottom: 0%;

}

.exerciseForm input{
  max-width: 170px;
 border-radius: 3px;

}
.exerciseForm button {
    flex-shrink: 1;
    white-space: nowrap;  
    overflow: hidden;     
    text-overflow: ellipsis;     
     background-color: #0892D0;     
         
}
.ExerciseItem {

  display: flex;
  flex-direction: row;
  align-items: center;         
  margin: 3px;
  background-color: black;
  border-radius: 3px;
  padding: 5px;
  justify-content: space-between; 
  border: 1px solid rgba(79, 78, 82, 0.366);
  border-width: 3px;
  transition: background-color 0.3s ease; 
  /*
  box-shadow: inset 0 -2em 2em 1px #010b20 ;*/
}

.ExerciseItem:hover{
   border-color: cyan; 
   color: white; 
}

.exercise-field {
  flex: 1;
  text-align: center;
  color: white;
}


.headerTitle {
  text-align: center;       
  color:white;
  margin-top: 5px;          
  font-weight: bold;  
  background-color:  #3162f2;  
  border-radius: 3px;   
  padding:10px;  
  width:100%;
  font-family:  sans-serif;
  font-weight: lighter;
}
.Session{
  flex: 1 1 80%; 
  display: flex;
  flex-direction: column;
  background-color: rgb(24, 23, 23);
  padding: 10px;
  margin-right: 10px;
  border-radius: 3px;
  height:max-content;
 

  
 
}




.sessionLibrary{
    display: flex;
    flex-direction: column;
    align-content: center;
    flex:30%;
    background-color: rgb(24, 23, 23);
    border-radius: 3px;
    padding: 5px;
    align-items: center;

    
}



.saveSessionBtn{
  background-color:#0892D0;
  border-radius: 3px;
  border-width: 0px;
  height: 100%;
  padding: 8px; 
  transition: background-color 0.3s ease; 
  
}
.saveSessionBtn:hover{
  background-color: cyan; 
  color: white; 

}

.deleteSessionBtn{
  background-color:#0892D0;
  border-radius: 3px;
  border-width: 0px;
  height: 100%;
  padding: 8px; 
  transition: background-color 0.3s ease; 
}
.deleteSessionBtn:hover{
  background-color: cyan; 
  color: white; 

}
#Timer{
  height:100%;
}


.addExerciseBtn{
  border-radius: 3px;
  border-width: 0px;
  padding: 8px; 
  height: 100%;
  transition: background-color 0.3s ease; 

}

.addExerciseBtn:hover{
  background-color: cyan; 
  color: white; 

}


.deleteBtn{
  border-radius: 3px;
  outline-width: 0px;
  border: none; 
  transition: background-color 0.3s ease; 
  padding-left:10px;
  padding-right:10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(190, 255, 125);


}
.exerciseNote{
  border-radius: 3px;
  outline-width: 0px;
  border: none; 
  transition: background-color 0.3s ease; 
  padding-left:3px;
  padding-right:3px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: rgb(190, 255, 125);

}

.deleteBtn:hover{
  background-color:cyan;
  color:white;
  
}

.exerciseList{
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 3px;
  
  gap: 10px; 
  
  

}
.exerciseLibraryItem{
  display:flex;
  flex-direction:row;
  padding:10px;
  align-items: center;
  text-align: center;
  justify-content: space-between; 
 
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 5px;
  margin-right:5px;
  border-radius: 3px;

  background-color: black;
  border: 2px solid rgba(79, 78, 82, 0.366);
  transition: background-color 0.3s ease; 
 

  
}
.exerciseLibraryItem:hover{
   border-color: cyan; 
   color: white; 
}

.exerciseLibraryAddBtn{
  background-color: #0892D0; 
  border-style: hidden;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  font-weight: bolder;


  }


.exerciseLibraryAddBtn:hover{
  background-color:cyan;
  color:white;
 
}

.hr{
  background-color: #0892D0;
  border-color: #0892D0;
}

.sessionTitle{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:6px;
  color:rgba(72, 72, 72, 0.89);
}

.navbar-brand{
  padding-left:2%;
}


.startSessionBtn{
  width: 100%;
  height:100%;
  background-color: #0892D0; 
  border-style: hidden;
 
  border-radius: 3px;
  transition: background-color 0.3s ease; 
  padding-top: 8px;
  padding-bottom:8px;

}

.startSessionBtn:hover{
  background-color:cyan;
  color:white;
 
}

.autoWeightBtn{
  min-width: 9%;
  border-radius: 3px;
  border-width: 0px;
  padding: 8px; 
  height: 100%;
  transition: background-color 0.3s ease; 

}

.autoWeightBtn:hover{
  background-color:cyan;
  color:white;
 
}

.horizontalDate{
  margin-bottom: 5px;
  padding-top: 4px;
  padding-bottom:4px;


}

.background{
  
  display: flex;
   flex-direction: column;
   gap: 10px; 
}
.status{
  color:white;
}
.statusField{
  color:white;
  gap:4px;
}

.timerContainer{
  width: 100%;
  background-color: rgb(24, 23, 23);
  height: 100%;
  border-radius: 3px;


}
.timerHeader{
  text-align: center;  
  width:100%;     
  color:white;
  margin-top: 5px;          
  font-weight: bold;  
  background-color:  #3162f2;  
  border-radius: 3px;   
  padding:10px;  
  font-family:  sans-serif;
  font-weight: lighter;
}

.SessionBox {
    display: flex;
    flex-direction: column;
    min-width: 400px;
    min-height: 600px;

    border-radius: 3px;
    margin-bottom: 0px;
    padding-bottom: 0%;


    background-color: gray; 
    transition: background 1s, color 1s;
    background-size: 200% 200%;
   
}


.timerGradient {
    margin-left:10px;
    font-size: large;
    color: gray; 
    background-clip: text;
    background-image: linear-gradient(to right, dodgerblue, rgb(190, 255, 125), dodgerblue);
    background-size: 200% 200%;
    animation: timerGradient 5s linear infinite;
    animation-play-state: paused;
}


.SessionBox.activeSession {
    background-image: linear-gradient(45deg, dodgerblue, rgb(190, 255, 125), dodgerblue);
    animation: gradientMove 10s linear infinite;
    animation-play-state: running;
}

.timerGradient.activeSession {
    color: transparent;
    animation-play-state: running;
}


@keyframes gradientMove {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }
    0% { background-position: 0% center; }
}

@keyframes timerGradient {
    0% { background-position: 0% center; }
    100% { background-position: 200% center; }

}

.horizontalDatePicker{
  background-color: white;
  outline-color: #3162f2;
  border-radius: 3px;
  outline: solid 1px;
  padding-top:5px;
  padding-bottom:5px;
}

.pr{
  border-radius: 3px;
  outline-width: 0px;
  border: none; 
  transition: background-color 0.3s ease; 
  padding-left:3px;
  padding-right:3px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #0892D0;
  width:70%;
}
.pr:hover{
  background-color:cyan;
  color:white;
  
}
.timerContainer{
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  
}
.timerDisplay{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  width: 250px;
  height: 250px;
  border: 10px solid #0892D0;
  border-radius: 50%;
  background: conic-gradient(#0892D0 0deg, black 0deg);
  /*background: radial-gradient(circle at center, black 70%, #0892D0 71%, #0892D0 20%);*/
  padding: 2%;
  box-sizing: border-box;  
                   
}

.stopWatch{
   display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.timeLabels{
  display:flex;
  justify-content: center;
  align-items: center;
  gap :4px;
}

.monthPicker{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
  width:100%;
  background-color:  #3162f2;  
  border-radius:3px;
}

.dayPicker{
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  align-items: center;
  justify-content: center;
  scroll-snap-type: x mandatory;
  padding-top:0px;
  
}

.currentDate{
  border:1px solid #fff;
  border-radius: 3px;
  padding:10px;
  padding-right:16px;
  padding-left:16px;
  margin:6px;
  
  color: white;
  font-weight: bold;
  transition: background-color 0.6s ease; 
  margin:10px;
 
}

.currentDate:hover{
  transform:scale(110%);
   background-color:cyan;
  color:white;
}

.currentDayDate{
  scroll-snap-align:center;
}
.horizontalDatePickerLayout{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  height:100%;
 ;
 
  
}

.prevMonthBtn{
  display:flex;
  width: 30px; 
  height: 20px; 
  background-color: white; 
  text-align: center;
  line-height: 50px; 
  border: none;
  cursor: pointer;
 clip-path: polygon(100% 0%, 0% 50%, 100% 100%);
 transition: background-color 0.3s ease; 
 margin:10px;

}

.prevMonthBtn:hover{
   background-color:cyan;
  color:white;
}


.nextMonthBtn{
  display:flex;
  width: 30px; 
  height: 20px; 
  background-color: white; 
  text-align: center;
  line-height: 50px; 
  border: none;
  cursor: pointer;
  clip-path: polygon(0% 0%, 100% 50%, 0% 100%); 
  transition: background-color 0.3s ease; 
  margin:10px;
}

.nextMonthBtn:hover{
   background-color:cyan;
  color:white;
}

.tab {
  
  border: 1px solid #010101;
  background-color:  rgb(93, 96, 103);
  align-content: end;
  align-self: flex-end;
  border-radius: 3px;
    margin-left: auto; /* Push tabs all the way to the right */
  
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 6px 8px;
  transition: 0.3s;
  border-radius: 3px;
}

/* Change background color of buttons on hover */
.tab button:hover { 
  background-color:cyan;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}


.clearBtn{
  width: 10%;
  height:100%;
  background-color: #0892D0; 
  border-style: hidden;
 
  border-radius: 3px;
  transition: background-color 0.3s ease; 
  padding-top: 8px;
  padding-bottom:8px;
}

.clearBtn:hover{
  background-color:cyan;
  color:white;
  

}

.currentDayDate{
  display:flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

