.leftRightFlex{
    display:flex;
   
}

.left-section{
    height: 100%;
    flex:2;

}
.right-section{
    flex-direction: column;
    height:100%;
    
}

.SessionBox{
    flex-direction: column;
    background-color: #343541,;
    min-width: 400px;
    min-height: 600px;

}

.ExerciseItem{
    flex-direction: row;

}

.Session{
    border: 2px solid black;
    width: 100%;
    font-size: 16px;
    padding-bottom: 20px;
    margin-bottom:20px;
}

.calendar {
    height: 100%;
    border: 2px solid black;
  
}


.sessionLibrary{
     border: 2px solid black;
    width: 100%;
    padding: 10px;
    font-size: 16px;


}