
body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #1e1f26;  
  color: white;                
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  background-color: #3162f2;   

  gap: 1rem;


}

.navbar button {
  background-color: #0892D0;   
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.navbar button:hover {
  background-color: cyan;
  color: black;
}

/* Container */
.container {
  display: grid;
  grid-template-areas:
    "user-info"
    "runner"
    "subscription"
    "faqs";
  grid-template-columns: 1fr;
  gap: 2rem;
  padding: 2rem;
  max-width: 800px;
   color: white;  
}


.user-info,
.subscription,
.faqs {
  background-color: #252731;  
  padding: 1.5rem;
  border-radius: 3px;       
  border: 1px solid rgba(105, 105, 105, 0.5); 
}




h2 {
  margin-top: 0;
  color: #0892D0;
}

form label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
  color: white;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 0.6rem 0.8rem;
  margin-top: 0.3rem;
  border: 1px solid rgba(105, 105, 105, 0.5);
  border-radius: 10px;            
  background-color: #1e1f26;      
  color: white;                    
  outline: none;
  font-size: 1rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

form input::placeholder,
form textarea::placeholder,
form select::placeholder {
  color: rgba(255, 255, 255, 0.6);
}


form input:focus,
form textarea:focus,
form select:focus {
  border-color: #0892D0;
  box-shadow: 0 0 5px #0892D0;
  background-color: #2a2b36;
}

/* Buttons */
#updateBtn,
#updatePaymentBtn {
  margin-top: 1rem;
  padding: 0.6rem 1.2rem;
  background-color: #0892D0;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#updateBtn:hover,
#updatePaymentBtn:hover {
  background-color: cyan;
  color: white;
}


#paymentInfo p {
  font-size: 1rem;
  color: white;
  margin: 5px 0;
}

#paymentInfo em {
  color: #0892D0;
  font-style: italic;
}

.flexleftright{
  display:flex;
  flex-direction:row;
  background-color: #1e1f26;
  

}

